@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')

$primary-font:  'Montserrat', sans-serif
$text-color: #4d4d4d
$primary-color: #005baa
$disabled-color: #aaaaaa
$on-color: #044e0b
$off-color: rgba(224, 16, 16, 0.98)
$std-btn-height: 60px
$std-btn-radius: 0px
$mob-btn-height: 60px
$mob-btn-radius: 0px

@media screen and (max-width: 1024px)
  button
    width: 100%

  .device-btn, .state-btn
    height: $mob-btn-height
    border-radius: $mob-btn-radius
    margin: 1px

  .device-list ul, .state-btn-list ul
    padding-left: 0
    list-style-type: none

  .device-list li
    float: none

  .state-btn-list li
    float: none

body
  font: 100% $primary-font
  font-size: small
  color: $text-color

button
  border-radius: $std-btn-radius
  height: $std-btn-height
  font-size: large
  width: 100%
  border: none
  color: azure
  background: $primary-color
  outline: none

div
  display: grid

.device-btn
  background: azure
  color: $primary-color
  border: 1px solid $primary-color
  &:disabled
    background: $disabled-color
    border: 1px solid $primary-color
    color: azure

.state-btn
  border:  none
  height: $std-btn-height
  border-radius: $std-btn-radius


.device-list ul, .state-btn-list ul
  list-style-type: none

.device-list li
  float: none

.state-btn-list li
  float: none

.selected
  background: $primary-color
  color: azure

.on
  color: azure
  background: $on-color

.off
  color: azure
  background: $off-color

.state
  font: 100% $primary-font
  padding: 5px
  text-decoration: none
  color: azure
  font-size: small
  border-radius: 8px
  border: none
  outline: none
  width: fit-content

.connected
  background-color: $on-color

.disconnected
  background-color: $off-color