@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap')

$primary-font:  'Montserrat', sans-serif
$text-color: #4d4d4d
$primary-color: #005baa
$on-color: #044e0b
$off-color: rgba(224, 16, 16, 0.98)

body
  font: 100% $primary-font
  font-size: small
  color: $text-color

button
  font: 100% $primary-font
  font-size: small
  border-radius: 10px
  border: none
  color: azure
  height: 20px
  background: $primary-color
  outline: none

.on
  color: azure
  background: $on-color

.off
  color: azure
  background: $off-color


